html,body{
      overflow-x: hidden !important;
}
body {
	background: url(wood.jpg);
  
}


/* Rules to show buttons only on hover*/
li .hover-toggle.hide-button {
visibility: hidden;
}

li:hover .hover-toggle.hide-button {
visibility: visible;
}






#tableContainer
{
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

#tableContainer table, tr
{
	max-width: 750px !important;	
	position: relative;
}

#tableContainer table
{
	margin-left: 8px;
}


table.gridtabela td
{
	max-width: 180px;
	padding: 0;
}

table.normal-table-5 td {
padding:5px;  
}

table.normal-table-10 td {
padding:10px;  
}




.bookshelf {
	width: 790px;
	height: 63px;
	background: transparent url(shelf.png) no-repeat center center;
	margin-top: -75px;
	margin-right: 30px;
	position: absolute;
}


.invisibleLink {
	display: inline;
	position: absolute;
    height: 55px;
    width: 55px;
}



.bk-list {
	list-style: none;
	position: relative;
}

.bk-list li {
	position: relative;
	width: 180px;
	float: left;
	z-index: 1;
	-webkit-perspective: 1800px;
	perspective: 1800px;
}

.bk-list li:last-child {
	margin-right: 0;
}

.bk-info {

	position: relative;
	z-index: 2;
	margin-bottom: 298px;
}

.bk-info table {
	width: 100%;
}

.bk-info h3 {
	padding: 25px 0 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	font-size: 26px;
}

.bk-info h3 span:first-child {
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 5px;
	display: block;
	color: #777;
}

.bk-info p {
	line-height: 22px;
	color: #444;
	min-height: 160px;
}

.bk-info button {
		display: none;
	
	
	background: #FC756F;
background: url(../slicice/Rotate_3d.png);
	border: none;
	color: #fff;
	display: inline-block;
	padding: 3px 10px;
  height: 20px;
    width: 20px;
	font-weight: 700;
	font-size: 13px;
	white-space:nowrap;
	text-transform: uppercase;
	cursor: pointer;
	text-wrap: none;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.bk-info button.bk-active,
.bk-info button:active {
	box-shadow: 
		0 1px 0 rgba(255, 255, 255, 0.8), 
		inset 0 -1px 1px rgba(0,0,0,0.2);
}

.no-touch .bk-info button:hover,
.bk-info button.bk-active {
	background: #d0544e;
}

.bk-list li .bk-book {
	position: absolute;
	margin-top: 35px;
	margin-left: 10px;
	width: 100%;
	height: 270px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotate3d(0,1,0,35deg);
	transform: rotate3d(0,1,0,35deg);
}

.bk-list li .bk-book.bk-bookdefault{
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}

.bk-list li .bk-book.bk-bookdefault:hover {
	-webkit-transition: -webkit-transform .9s;
	transition: -webkit-transform .9s;
	transition: transform .9s;
	transition: transform .9s, -webkit-transform .9s;
	-webkit-transform: rotate3d(0,1,0,0deg);
	transform: rotate3d(0,1,0,0deg);
}

.bk-list li .bk-book > div,
.bk-list li .bk-front > div {
	display: block;
	position: absolute;
}

.bk-list li .bk-front {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
	-webkit-transform: translate3d(0,0,5px);
	transform: translate3d(0,0,5px);
	z-index: 10;
}

.bk-list li .bk-front > div {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.bk-list li .bk-page {
	-webkit-transform: translate3d(0,0,4px);
	transform: translate3d(0,0,4px);
	display: none;
	/*change these to change the inner page size (the width / height are the same as the front size, minus 5px - for realistic effect*/
	width: 175px;
	height: 230px;
	
	/*///////////////\\\\\\\\\\\\\\\\\\*/
	top: 5px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 9;
}

.bk-list li .bk-front,
.bk-list li .bk-back,
.bk-list li .bk-front > div {
	width: 180px;
	height: 240px;
	
}

.bk-list li .bk-left,
.bk-list li .bk-right {
	width: 12px;
	left: -8px;
}

.bk-list li .bk-top,
.bk-list li .bk-bottom {
	width: 175px;
	height: 8px;
	top: -15px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bk-list li .bk-back {
	-webkit-transform: rotate3d(0,1,0,-180deg) translate3d(0,0,3px);
	transform: rotate3d(0,1,0,-180deg) translate3d(0,0,3px);
	box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
	border-radius: 3px 0 0 3px;
}

.bk-list li .bk-cover-back {
	background-color: #000;
	-webkit-transform: rotate3d(0,1,0,-180deg);
	transform: rotate3d(0,1,0,-180deg);
	z-index:1;
}

.bk-list li .bk-right {
//	height: 270px;
	top: 5px;
	-webkit-transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bk-list li .bk-left {
	height: 240px;
	-webkit-transform: rotate3d(0,1,0,-90deg);
	transform: rotate3d(0,1,0,-90deg);
}

.bk-list li .bk-top {
	-webkit-transform: rotate3d(1,0,0,90deg);
	transform: rotate3d(1,0,0,90deg);
}

.bk-list li .bk-bottom {
	-webkit-transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
	transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
}

/* Transform classes */

.bk-list li .bk-viewinside .bk-front {
	-webkit-transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
	transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
}

.bk-list li .bk-book.bk-viewinside {
	-webkit-transform: translate3d(0,0,150px) rotate3d(0,1,0,0deg);
	transform: translate3d(0,0,150px) rotate3d(0,1,0,0deg);
}

.bk-list li .bk-book.bk-viewback {
	
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;
	
	-webkit-transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
	transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
}

.bk-list li .bk-viewback .bk-back {
	z-index: 10;
}

/* Main colors and content */

.bk-list li .bk-page,
.bk-list li .bk-right,
.bk-list li .bk-top,
.bk-list li .bk-bottom {
	background-color: #fff;
}

.bk-list li .bk-front > div {
	border-radius: 0 3px 3px 0;
	box-shadow: 
		inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.bk-list li .bk-front:after {
	content: '';
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: -1px;
	width: 1px;
}

.bk-list li .bk-cover:after,
.bk-list li .bk-back:after {
	content: '';
	position: absolute;
	top: 0;
	left: 10px;
	bottom: 0;
	width: 3px;
	background: rgba(0,0,0,0.06);
	box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.bk-list li .bk-back:after {
	left: auto;
	right: 10px;
}

.bk-left h2 {
	width: 270px;
	height: 3px;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(90deg) translateY(-40px);
	transform: rotate(90deg) translateY(-40px);
}

.bk-loading
{
	background:url('loading.gif') no-repeat center center !important;
    background-size:60px 60px !important;
}

.bk-content, .bk-loading{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	padding: 10px;
	overflow: hidden;
	background: #fff;
	opacity: 0;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	cursor: default;
}

.bk-content-current {
	opacity: 1;
	pointer-events: auto;
}

.bk-content p {
	padding: 0 0 10px;
	-webkit-font-smoothing: antialiased;
	color: #000;
	font-size: 10px;
	text-align: justify;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bk-page nav {
	display: block;
	text-align: center;
	margin-top: 100px;
	position: relative;
	z-index: 100;
	cursor: pointer;
	font-size: 23px;	
}

.bk-page nav span {
	display: inline-block;
	width: 30px;
	height: 30px;
	color: #FFFFFF;
	background: #F90;
	border-radius: 50%;

}

/* Individual style & artwork */

/* Book 1 */
.book-1 .bk-front > div,
.book-1 .bk-left,
.book-1 .bk-front:after {
	background-color: #FFCC00;
}


.book-1 .bk-back {
	background-color: #FFCC00;
}









.book-1 .bk-cover {
	background-image: url(../images/2.jpg);	
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 230px 300px;
	
	
	
}

.book-1 .bk-cover h2 {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 30px;
	background: rgba(255,255,255,0.2);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}

.book-1 .bk-cover h2 span:first-child,
.book-1 .bk-left h2 span:first-child {
	-webkit-font-smoothing: antialiased;
//	text-transform: uppercase;
	font-weight: 400;
	// text po rubu 1
	font-size: 13px;
	padding-left: 10px;
}

.book-1 .bk-cover h2 span:first-child {
	display: block;
}

.book-1 .bk-cover h2 span:last-child,
.book-1 .bk-left h2 span:last-child {
	font-family: "Tahoma";
} 

.book-1 .bk-content p {
	font-family: Georgia, Times, "Times New Roman", serif;
}

.book-1 .bk-left h2 {
	color: #000;
	font-size: 14px;
	line-height: 65px;
	padding-left: 0px;
	text-align: left;
}

.book-1 .bk-back p {
	color: #000;
	font-size: 11px;
	padding: 20px;
	text-align: left;
	
}

/* Book 2 */

.book-2 .bk-front > div,
.book-2 .bk-back,
.book-2 .bk-left,
.book-2 .bk-front:after {
	background-color: #222;
}

.book-2 .bk-cover {
	background-image: url(../images/2.png);	
	background-repeat: no-repeat;
	background-position: 98% 0%;
}

.book-2 .bk-cover h2, 
.book-2 .bk-left h2 {
	color: #fff;
	font-family: 'the_godfatherregular', Georgia, serif;
	font-weight: 400;
}

.book-2 .bk-cover h2 {
	font-size: 138px;
	line-height: 102px;
	padding: 30px;
}

.book-2 .bk-cover h2 span:first-child {
	position: relative;
	display: block;
}

.book-2 .bk-cover h2 span:first-child:before {
	content: 'A novel';
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	text-transform: uppercase;
	position: absolute;
	color: red;
	font-size: 20px;
	right: -15px;
	bottom: -60px;
}

.book-2 .bk-cover h2 span:last-child {
	font-size: 100px;
	line-height: 80px;
	display: block;
	position: relative;
}

.book-2 .bk-cover h2 span:last-child:before {
	content: 'by';
	font-size: 16px;
	color: red;
	position: absolute;
	top: -32px;
	left: 62px;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

.book-2 .bk-cover h2 span:last-child:after {
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #f9ed65;
	position: absolute;
	top: 5px;
	left: 101px;
}

.book-2 .bk-left h2 {
	font-size: 20px;
	line-height: 40px;
	padding-right: 10px;
	text-align: right;
}

.book-2 .bk-back p {
	color: red;
	font-size: 13px;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	padding: 40px;
	text-align: center;
}

/* Book 3 */

.book-3 .bk-front > div,
.book-3 .bk-back,
.book-3 .bk-left,
.book-3 .bk-front:after {
	background-color: #a4c19e;
}

.book-3 .bk-cover {
	background-image: url(../images/3.png);	
	background-repeat: no-repeat;
	background-position: 100% 95%;
}

.book-3 .bk-cover h2 {
	position: absolute;
	top: 40px;
	right: 40px;
	left: 40px;
	padding-top: 15px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}

.book-3 .bk-cover h2 span:first-child,
.book-3 .bk-left h2 span:first-child {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 13px;
	padding-right: 20px;
}

.book-3 .bk-cover h2 span:first-child {
	display: block;
}

.book-3 .bk-cover h2 span:last-child,
.book-3 .bk-left h2 span:last-child,
.book-3 .bk-content p  {
	font-family: Georgia, Times, "Times New Roman", serif;
} 

.book-3 .bk-left h2 {
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
}

.book-3 .bk-back img {
	width: 200px;
	display: block;
	margin: 30px auto 0;
}

.book-3 .bk-back p {
	color: #fff;
	font-size: 13px;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 40px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}

/* Fallbacks */

.no-csstransforms3d .bk-list li .bk-book > div,
.no-csstransforms3d .bk-list li .bk-book .bk-cover-back {
	display: none;
}

.no-csstransforms3d .bk-list li .bk-book > div.bk-front {
	display: block;
}

.no-csstransforms3d .bk-info button,
.no-js .bk-info button {
	display: none;
}

